.footer {
    // width: 100%;
    max-width: 1110px;
    min-height: 23px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5%;
}  
.footer__logo{
    width: 100%;
} 

.footer__link {
    display: flex;

}

.footer__links, .footer__social-links {
    display: flex;
    list-style: none;
    // padding: 10px; 
}

.footer__menu, .footer__social-menu{
    padding: 20px;
}

.footer__link, .footer__social-link {
    font-size: 15px;
    text-decoration: none;
}

    /*&__logo {
        img {
            height: 100%;
        }
    }

    &__links, &__social-links {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;

        &__menu, &__social-menu {
            text-decoration: none;
            padding: 20px;
        }

        &__link, &__social-link {
            font-size: 15px;
            text-decoration: none;
        }
    }
}*/