*{
    box-sizing: border-box;
   
}

li,a {
    text-decoration: none;
    font-size: 15px;
}

.head-container {
    width: 100%;
    max-width: 1109px;
    min-height: 23px;
    padding: 20px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.head_logo {
    margin-right: auto;
}

.nav {
    width: 100%;
    max-width: 1109px;
}
.nav-list {
    list-style: none;
}
.nav-list li{
    display: inline-block;
    padding: 20px;
}
.nav-list li a {
    transition: all 0.3s ease 0s;
}

.nav-list li a:hover {
    color: grey;
}

.main__container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    margin-top: 4%;
}

.main__left{
    // max-width: 635px;
    flex-wrap: wrap;
}

.main_title{
    width:475px;
    min-height: 110px;
    line-height: 45px;
    font-size: 40px;
    font-weight: 700;
    margin-left: 1%;
   
}
.main_para{
    width: 580px;
    height: 190px;
    margin-left: 1%;
    line-height: 26px;
    font-size: 16px;
}

.main_para-1{
    width: 655px;
    margin-right: 20%;
    font-size: 16px;
}


.main__right{
    display: flex;
    max-width: 335px;
    min-height: 343px;
    padding-top: 1%;
    line-height: 4;
    font-size: 18px;
    margin-left:25px;
  
}

.main__li-1{
    list-style: none;
    // padding-left: 20px;
   
}

.main__li-2{
    list-style: none;
    font-weight: bold;
}

.main_menu{
    // padding: 2px;
    padding-left: 25px;
    margin: 0 -20px;
    border-bottom: 1px solid #d8d8d8;
}

.section_container1{
    max-width: 1110px;
    min-height: 650px;
    margin: 0 auto;
    margin-top: 5%;
}

.section_container2{
    max-width: 1109px;
    min-height: 93px;
    font-size: 15px;
    line-height: 26px;
    margin: 0 auto;
    padding-top: 5%;
    padding-bottom: 45px;
    word-spacing: 2px;   
}

.section_container3{
   max-width: 1109px;
    display: flex;
    justify-content: space-between;
}

.proj-img{
   max-width: 350px;
   min-height: 400px;
}